repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: trailing-whitespace
        exclude: ^(.*\.md|.*\.yml|.*\.yaml)
      - id: check-yaml
      - id: check-json
      - id: check-toml
      - id: check-added-large-files
        args: ['--maxkb=1000']
      - id: check-merge-conflict
      - id: check-case-conflict
      - id: detect-private-key
      - id: mixed-line-ending

  - repo: local
    hooks:
      - id: ruff
        name: ruff
        entry: uv run ruff check --fix
        language: system
        types: [python]
        pass_filenames: true
        always_run: false

  - repo: local
    hooks:
      - id: isort
        name: isort
        entry: uv run isort
        language: system
        types: [python]
        pass_filenames: true
        always_run: false
        exclude: ^(tests/|examples/)

  - repo: local
    hooks:
      - id: mypy
        name: mypy
        entry: uv run mypy maxapi --ignore-missing-imports --check-untyped-defs
        language: system
        types: [python]
        pass_filenames: false
        always_run: true

