repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: trailing-whitespace
        exclude: ^(.*\.md|.*\.yml|.*\.yaml)
      - id: check-yaml
      - id: check-json
      - id: check-toml
      - id: check-added-large-files
        args: [ '--maxkb=1000' ]
      - id: check-merge-conflict
      - id: check-case-conflict
      - id: detect-private-key
      - id: mixed-line-ending
      - id: end-of-file-fixer

  - repo: local
    hooks:
      - id: ruff-check
        name: ruff check
        entry: uv run ruff check --fix
        language: system
        types: [ python ]
        pass_filenames: true
        always_run: false

  - repo: local
    hooks:
      - id: ruff-format
        name: ruff format
        entry: uv run ruff format
        language: system
        types: [ python ]
        pass_filenames: true
        always_run: false

  - repo: local
    hooks:
      - id: mypy
        name: mypy
        entry: uv run mypy maxapi --ignore-missing-imports --check-untyped-defs
        language: system
        types: [ python ]
        pass_filenames: false
        always_run: true
